{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}

    <div>
        <h2>Page présentation</h2>
    </div>
    <div class="presentation-image">
    <img src="{{ asset('images/sashi1.jpg') }}" alt="image de Sashi chien de race Sptiz" />
    </div>
{% endblock %}