{% extends 'base.html.twig' %}

{% block title %}Galerie Photos{% endblock %}

{% block body %}

<div>
<h2 class="gallery-title">Retrouvez ici les photos des compagnons venus chez nous !</h2>
</div>

{% endblock %}
